<!DOCTYPE html>
<html lang="ko">
<head>
<style>
    body{font: 12px "굴림" ,Gulim;}
    h1{background: rgb(131, 131, 131);}
    
    li{ float: left;
        list-style-type: none;
        text-align: center;        
        width: 100px;
        padding: 10px;
    }
    h2{color: white;
        padding: 10px;
        margin: 10px;
        width: 50px;
        }
    .a{background: rgb(240, 0, 0);}
    .b{background: rgba(49, 51, 165, 0.658);}
    .c{background: rgb(207, 90, 22);}
    .d{background: rgb(84, 107, 0);}
</style>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <h1>나의 아름다운 정원</h1>
    <div>
        <p>사람들은 아마 자신에게 자신감을 복돋워 주는 표정 있는 꽃들을 선호할 것이다.</p>
        <ul>
            <li>
                <h2 class = "a">튜울립</h2>
                <p>너무 화려하지 않으며 고귀한 느낌을 가지고 있다.
                붉은 색이 단연 으뜸이며 한 송이만 있어도 빼어나다.</p>
            </li>
            <li><h2 class = "b">제비꽃</h2>
            <p>드물게 푸른색을 띄고 있으며 작지만 시원해 보이는 어린 꽃이라고 할 수 있다.
            여럿이 함께 있을 때 더욱 아름답다</p>
            </li>
            <li><h2 class = "c">호박꽃</h2>
            <p>색도 모양도 화려하며 이름과 걸맞지 않게 아름다운 꽃으로 매우 완숙한 이미지를 풍기는 꽃이다.</p></li>
            <li><h2 class = "d">해바라기</h2>
            <p>태양만 바라보는 일편 단심의 꽃으로 얼굴이 큰 편에 속하며 송이가 적어야 제격이다.</p></li>
        </ul>
    </div>

</body>
</html>